{% extends 'master.html' %}

{% block content %}
<header class="bg-dark text-white text-center py-5">
    <h1>About Our Company</h1>
</header>
<main class="container mt-5">
    <section class="story">
        <h2>Our Story</h2>
        <p>Welcome to JSV Store, where passion meets craftsmanship. We started as a small venture with a big dream
            – to create unique, handcrafted jewelry that tells stories. Our journey led us to discover the beauty of
            organic skincare and the charm of vintage treasures.</p>
        <p>From the delicate intricacy of our handmade jewelry to the purity of our organic skincare products, each item
            we offer carries a piece of our heart. We believe in sustainability, authenticity, and the magic of the
            past.</p>
    </section>
    <section class="products">
        <h2>Our Products</h2>
        <p>Explore our collection of:</p>
        <ul>
            <li>Handmade Jewelry: Crafted with passion and attention to detail, our jewelry pieces are an expression of
                elegance and individuality.</li>
            <li>Organic Skincare: Nurture your skin with our range of organic skincare products, made from the finest
                natural ingredients.</li>
            <li>Vintage Treasures: Immerse yourself in the nostalgia of vintage items that carry stories from decades
                past.</li>
        </ul>
    </section>
</main>
{% endblock %}