{% load custom_filters %}

<div class="col-sm-3 d-none border border-dark mb-2 mr-2" id="cart">
    <div class="container-fluid px-0">
        <h4 class="text-center">Your cart</h4>
        {% for item in cart_items %}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}"
                                class="card-img-top mh-50 w-100 h-25 mt-5">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body overflow-hidden">
                                <h5 class="card-title">{{item.product.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{item.product.description}}</h6>
                                <div class="container-fluid px-0">
                                    <div class="row">
                                        <div class="col-6 px-0 mx-0">$
                                            {{item.product.price|mul:item.quantity}}</div>
                                        <div class="col-6 px-0 mx-0">
                                            <div class="container-fluid px-0 mx-0">
                                                <div class="row">
                                                    <div class="col-4 px-0 text-center">
                                                        <form action="{% url 'store:quantity-down' item.id %}"
                                                            method="post">
                                                            {% csrf_token %}
                                                            <button class="btn-transparent" type="submit">
                                                                <i class="fa fa-arrow-down"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                    <div class="col-4 px-0">Qty:{{item.quantity}}</div>
                                                    <div class="col-4 px-0 text-center">
                                                        <form action="{% url 'store:quantity-up' item.id %}"
                                                            method="post">
                                                            {% csrf_token %}
                                                            <button class="btn-transparent" type="submit">
                                                                <i class="fa fa-arrow-up"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% if cart_items %}
        <div class="row mt-2 mx-5" id="payment_button">
            <button class="btn btn-primary">Pay <i class="fa-solid fa-credit-card"></i></button>
        </div>

        <div class="row mt-2 mx-1 d-none" id="payment_info">
            <div class="bg-success rounded text-ligth">Successful payment</div>
        </div>
        {% endif %}
    </div>
</div>